.jumbotron {
  background-color: #00A1CB;
  color: white;
  margin-top: 30px;
  border-radius: 0px
}
.btn-default {
  background-color: black;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black;
}

.logo {
  width: 50%
}

.col {
  text-align: center;  
}

h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-bottom: 20px;
}

body {
  font-family: helvetica, sans-serif;
}

.navbar-inverse {
  color: black;
  background-color: white;
  border-bottom: black 5px solid;
}

#stemettes-logo {
  max-width: 20%;
  max-height: 60px
}

.navbar-nav, .navbar-brand {
  color: black;
  font-size: 1.35em;
  margin-top: 3px
}


.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
  color: black;
  line-height: 1.428571429;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:hover {
  background-color: #D0D102
}

* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  color: black;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove padding from wrapping element since we kick in the grid classes here */
  .body-content {
    padding: 0;
  }
}

@media screen and (max-width: 1070px) {